<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Creates a new Location</title>
</h:head>
<h:body>
    <ul>
        <li><h:link value="Inicio" outcome="index" /></li>
        <li><h:link value="Add Location" outcome="add_location" /></li>
        <li><h:link value="List Locations" outcome="locations" /></li>
    </ul>
    <h1>Create a new Location</h1>
    <hr/>
    <h:form>
        <table border="0">
            <tr>
                <td><h:outputLabel value="City: "/></td>
                <td><h:inputText value="#{locationBackingBean.city}"/></td>
            </tr>
            <tr>
                <td><h:outputLabel value="Country:"/> </td>
                <td><h:inputText value="#{locationBackingBean.country}"/></td>
            </tr>
            <tr>
                <td><h:outputLabel value="Unit :"/> </td>
                <td><h:inputText value="#{locationBackingBean.unit}"/></td>
            </tr>
        </table>
        <h:commandButton value="Create a Location" action="#{locationBackingBean.doCreateLocation}" styleClass="submit"/>
    </h:form>
    <hr/>

</h:body></html>
