<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
    <title>Creates a new weather</title>
</h:head>
<h:body>
    <ul>
        <li><h:link value="Inicio" outcome="index" /></li>
        <li><h:link value="Add Location" outcome="add_location" /></li>
        <li><h:link value="List Locations" outcome="locations" /></li>
    </ul>
    <h1>Create a new weather</h1>
    <hr/>
    <h:form>
        <table border="0">
            <tr>
                <td><h:outputLabel value="Weather: "/></td>
                <td><h:inputText value="#{weatherBackingBean.weather}"/></td>
            </tr>
            <tr>
                <td><h:outputLabel value="Description:"/> </td>
                <td><h:inputText value="#{weatherBackingBean.description}"/></td>
            </tr>
            <tr>
                <td><h:outputLabel value="Temperature :"/> </td>
                <td><h:inputText value="#{weatherBackingBean.temperature}"/></td>
            </tr>
            <tr>
                <td><h:outputLabel value="Location :"/> </td>
                <td>
                    <h:selectOneMenu value = "#{weatherBackingBean.locationId}">
                        <c:forEach items="#{locationBackingBean.locations}" var="_item">
                            <f:selectItem itemValue="#{_item.id}" itemLabel="#{_item.city} - #{_item.country}" />
                        </c:forEach>
                    </h:selectOneMenu>
                </td>
            </tr>
        </table>
        <h:commandButton value="Create a weather" action="#{weatherBackingBean.doCreateWeather}" styleClass="submit"/>
    </h:form>
    <hr/>

</h:body></html>
