<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
    <title>Weather API - IPB</title>
</head>
<body>
<ul>
    <li><h:link value="Inicio" outcome="index" /></li>
    <li><h:link value="Add Location" outcome="add_location" /></li>
    <li><h:link value="List Locations" outcome="locations" /></li>
    <li><h:link value="Add Weather" outcome="add_weather" /></li>
    <li><h:link value="List Weathers" outcome="weathers" /></li>
</ul>
</body>
</html>