<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
    <title>Locations</title>
</head>
<body>
<ul>
    <li><h:link value="Inicio" outcome="index" /></li>
    <li><h:link value="Add Location" outcome="add_location" /></li>
    <li><h:link value="List Locations" outcome="locations" /></li>
    <li><h:link value="List Locations" outcome="locations" /></li>
</ul>
<h:form>
    <h1>List Locations</h1>
    <hr/>
    <ul>
        <!-- loop to get all books -->
        <ui:repeat value="#{locationBackingBean.locations}" var="value">
            <li>#{value.city} - #{value.country}</li>
        </ui:repeat>
    </ul>
</h:form>


</body>
</html>