<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
    <title>Weathers</title>
</head>
<body>
<ul>
    <li><h:link value="Inicio" outcome="index" /></li>
    <li><h:link value="Add Location" outcome="add_location" /></li>
    <li><h:link value="List Locations" outcome="locations" /></li>
</ul>
<h:form>
    <h1>List Weathers</h1>
    <h:form>
        <table border="0">
            <tr>
                <td><h:outputLabel value="Select a Location :"/> </td>
                <td>
                    <h:selectOneMenu value = "#{weatherBackingBean.locationId}">
                        <c:forEach items="#{locationBackingBean.locations}" var="_item">
                            <f:selectItem itemValue="#{_item.id}" itemLabel="#{_item.city} - #{_item.country}" />
                        </c:forEach>
                    </h:selectOneMenu>
                </td>
            </tr>
        </table>
        <h:commandButton value="List Weather" action="" styleClass="submit"/>
    </h:form>
    <hr/>
    <ul>
        <!-- loop to get all books -->
        <ui:repeat value="#{weatherBackingBean.weathers}" var="value">
            <li>#{value.description} </li>
        </ui:repeat>
    </ul>
</h:form>


</body>
</html>